<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <jmxConfigurator/>

    <springProperty scope="context" source="spring.application.name" name="springAppName" />
    <springProperty scope="context" source="spring.application.moduleid" name="springAppModuleid"/>
    <springProfile name="cua,pro,dev">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder  class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                <providers>
                    <pattern>
                        <pattern>
                            {
                            "timestamp":"%date{YYYY-MM-dd'T'HH:mm:ss.SSSZZ z}",
                            "level": "%level",
                            "application": "${springAppModuleid:-}",
                            "correlator": "%X{spanId:-}",
                            <!--springboot__security-server__init__jenkins-->
                            "transaction": "%X{traceId:-}",
                            <!--springboot__security-server__end__jenkins-->
                            <!--springboot__security-user__init__jenkins-->
                            "transaction": "%X{c4-traceId:-}",
                            <!--springboot__security-user__end__jenkins-->
                            "service": "${springAppName:-}",
                            "logger": "%logger{40}.%method",
                            "operation": "%X{operation}",
                            "message": "%message",
                            "data": "#asJson{%X{data}}"
                            }
                        </pattern>
                    </pattern>
                </providers>
            </encoder>
        </appender>
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="local">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>
                    ${CONSOLE_LOG_PATTERN:-%clr(%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd HH:mm:ss.SSS}}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}
                </pattern>
            </encoder>
        </appender>
        <root level="DEBUG">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>
</configuration>
